.container {
    width: 100%;
    height: 70vh;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.container img {
    width: 50%;
    height: 100%;
}

.details {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #000000;
}

.details span {
    margin-top: 30px;
}

.details h3 {
    font-size: 20px;
    font-weight: 500;
}