.container {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    margin-bottom: 50px;
    font-family: var(--heading-text);
    font-weight: 400;
    font-size: 60px;
    letter-spacing: .2rem;
    color: var(--primary-color);
    align-self: center;
}