.container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 100px 300px;
}

.form {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.form h2 {
    align-self: center;
    font-family: var(--heading-text);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: .1rem;
    color: var(--primary-color);
}

.form label {
    margin: 10px 0;
    font-weight: 600;
}

.form input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
}

.form button {
    margin-top: 60px;
    padding: 7px 50px 5px 50px;
    font-family: var(--heading-text);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
}

.form span {
    margin: 10px;
    align-self: center;
    font-size: 12px;
}

.form a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
}