.container {
    width: 100%;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
}

.container h1, .container a {
    font-family: var(--heading-text);
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}

.container a {
    font-size: 30px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form h2 {
    font-family: var(--heading-text);
    font-size: 50px;
    font-weight: 400;
}

.top .field label {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}

.top .field input {
    padding: 5px;
    outline: none;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 2px solid #000000;
    margin-bottom: 50px;
}

.top .field {
    width: calc((100% / 3) - 20px);
    display: flex;
    flex-direction: column;
}

.top .field:first-child {
    width: 100%;
}

.middle {
    border-bottom: 2px solid #000000;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.middle h2 {
    margin: 15px 0;
}

.middle h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.middle div {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.middle div span {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.bottom {
    width: 100%;
}

.bottom .box {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottom .box div {
    display: flex;
    justify-content: space-between;
}

.bottom .box div:nth-last-child(2) {
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    margin-bottom: 5px;
}

.bottom .box span {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.form button {
    align-self: center;
    font-family: var(--heading-text);
    font-size: 30px;
    padding: 15px 50px 12px 50px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 20px;
}