.container {
    width: 100%;
    padding: 100px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top .left {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top .left img {
    width: 400px;
    height: 450px;
}

.top .left div {
    width: 400px;
    height: 150px;
    padding: 20px 30px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .left div span {
    font-size: 20px;
    font-weight: 700;
}

.top .right {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .right .row:first-child span:first-child {
    font-family: var(--heading-text);
    font-size: 30px;
}

.top .right .row:first-child h2 {
    margin-bottom: 0;
    font-family: var(--heading-text);
    font-size: 55px;
    font-weight: 500;
    letter-spacing: .1rem;
}

.top .right .row:first-child span:last-child {
    font-size: 20px;
}

.top .right .row:nth-last-child(2) {
    display: flex;
    flex-direction: column;
}

.top .right .row:nth-last-child(2) span {
    font-size: 18px;
}

.top .right .row:nth-last-child(2) span:first-child {
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 300px;
    justify-content: space-between;
}

.form div {
    width: calc((100% / 2) - 20px);
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 20px;
}

.form div input, .form div select {
    padding: 8px;
    outline: none;
}

.form button {
    font-family: var(--heading-text);
    font-size: 30px;
    margin-top: 20px;
    align-self: center;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 10px 150px 5px 150px;
    border-radius: 30px;
    letter-spacing: .1rem;
}

.cleaners {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.cleaners h3 {
    font-family: var(--heading-text);
    font-size: 50px;
    font-weight: 400;
}

.cleaners .square {
    display: flex;
}

.cleaners .square div img {
    width: 150px;
    height: 150px;
}

.cleaners .square .holder:first-of-type {
    margin-right: 100px;
}

.cleaners .square .holder:last-child {
    margin-left: 100px;
}

.cleaners .square div {
    display: flex;
}

.cleaners .square div div {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
}

.middle {
    margin-top: 80px;
    display: flex;
}

.middle div {
    width: 50%;
}

.middle div:first-child {
    padding-right: 30px;
}

.middle div:last-child {
    padding-left: 30px;
}

.middle div span {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.middle div p {
    margin: 10px 0;
}

.container .icon {
    position: absolute;
    top: 30px;
    left: 80px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 15px;
}

.bottom {
    width: 100%;
    padding: 50px 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom h1 {
    font-family: var(--heading-text);
    font-size: 60px;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #ffffff;
}

.bottom div {
    display: flex;
}