.container {
    width: 100%;
    height: 85vh;
    padding: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #ffffff;
    color: #000000;
}

.container p {
    font-size: 20px;
    margin: 20px 0;
}