.container {
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: minmax(100%, auto);
    grid-template-columns: 220px calc(100% - 220px);
}

.left {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 70px;
    background-color: #d4d4d4;
}

.left span {
    font-family: var(--heading-text);
    font-size: 40px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    color: #ffffff;
    position: absolute;
    top: -6px;
    right: -95px;
}

.right {
    width: 100%;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding-bottom: 30px;
}

.card div:first-child {
    border-radius: 10px 10px 0 0;
    width: 100%;
    text-align: end;
    background-color: var(--primary-color);
    padding: 8px 30px;
    font-size: 20px;
}

.details {
    padding: 30px 30px;
    display: flex;
    width: 100%;
    justify-content: start;
}

.details div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.details div span {
    font-size: 14px;
    padding: 5px 0;
}

.details h4 {
    font-family: var(--heading-text);
    font-size: 30px;
    font-weight: 400;
}

.details h4:last-child {
    margin-left: auto;
}


.details img {
    width: 120px;
    height: 100px;
}

.card button {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: 10px 20px 7px 20px;
    font-family: var(--heading-text);
    align-self: end;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}