.container {
    width: 100%;
    height: 50vh;
    padding: 50px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left img {
    overflow: hidden;
    margin-right: 30px;
}

.left h2 {
    font-family: var(--heading-text);
    font-size: 50px;
    font-weight: 400;
}

.right {
    width: 50%;
    height: 100%;
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    font-family: var(--heading-text);
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}

.right h2:nth-last-child(2) {
    cursor: pointer;
}

.right h2:nth-last-child(3) {
    margin: 20px 0;
}

.right h2:last-child {
    border-bottom: 1px solid #000000;
}

.right span {
    font-size: 14px;
}

.container p {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    left: 50px;
    bottom: 20px;
}