.container {
    width: 100%;
    height: 80px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--heading-text);
    color: #ffffff;
    background-color: var(--primary-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
}

.logo h1 {
    font-size: 20px;
}

.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container li {
    list-style: none;
    color: #ffffff;
}

.container ul li a {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
    margin: 0 15px;
    text-decoration: none;
    transition: all .1s ease;
    color: #ffffff;
}

.container ul li a:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
}

.container button {
    font-size: 16px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: var(--orange);
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.container button ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -70px;
    z-index: 1;
}

.container button ul li {
    width: 100%;
    padding: 10px 30px;
    background-color: #FF854D;
}

.container button ul li:hover {
    background-color: #ff9e6f;
}