.card {
    width: calc((100% / 4) - 10px);
    height: 100%;
    position: relative;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

.card div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: #D9D9D9;
}

.card div h2 {
    font-size: 20px;
    margin: 0;
    color: #000000;
}

.card div span {
    margin-bottom: 10px;
}

.card div h3 {
    font-size: 20px;
    font-weight: 400;
}